@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-font{
  font-family: "Poppins", sans-serif;
}
/* Shared Styles */
.display-flex{
    display: flex;
}
.head-text-color{
    color: #3A3A3A;
}
.btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    align-items: center;
}
.btn-header{
    border-radius: 41px;
    align-items: center;
}



/* Main Styles  */
header{
    max-width: 1200px;
    margin: 87px auto 0px;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links{
    gap: 34px;
    align-items: center;
}
.nav-links{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
}

/* Hero section related style */

.hero-container{
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.hero-content{
    max-width: 582px;
    
}
.hero-heading{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.hero-description{
    font-weight: 600;
    margin-bottom: 16px;
}
.hero-img{
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
/* Sponsor related style */
.sponsor-container{
    max-width: 1110px;
    margin: 68px auto 100px;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
}
/* .sponsor-container hr{
    height: 700px solid gray;
    clear: both;
    border: 3px solid linear-gradient(to right, red, yellow);
} */

/* Product Card related style */
.product-section{
    /* text-align: center; */
    max-width: 1047px;
    margin: 100px auto 0px;
}
.product-section h2{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 40px;
    text-align: center;
    
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.procduct-card{
    /* border: 1px solid red; */
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 15px;
}
.product-title{
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 40px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 6px;
}
.product-price{
    font-size: 1.5rem;
    line-height: 150%;
    color: #000000;
    margin-top: 6px;
}
.rateing{
    font-size: .87rem;
    font-weight: 700;
    line-height: 22px;
    color: #5E6366;
    

}
.checked{
    color: orange;
}