@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-font{
  font-family: "Poppins", sans-serif;
}
/* Shared Styles */
.display-flex{
    display: flex;
}
.head-text-color{
    color: #3A3A3A;
}
.btn{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    align-items: center;
}
.btn-header{
    border-radius: 41px;
    align-items: center;
}



/* Main Styles  */
header{
    max-width: 1200px;
    margin: 87px auto 0px;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-links{
    gap: 34px;
    align-items: center;
}
.nav-links{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
}

/* Hero section related style */

.hero-container{
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.hero-content{
    max-width: 582px;
    
}
.hero-heading{
    font-size: 3.25rem;
    font-weight: 700;
}
.hero-description{
    font-weight: 600;
}
.hero-img{
    background: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}